{% load trans from i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans "City defects" %}{% endblock %}</title>
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/less.js"></script>
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.css">
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/lodash.underscore.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/backbone.js"></script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        {% block content %}
        {% endblock content %}
    </body>
</html>
