{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
    $(function(){
        var $canvas = $('#map_canvas')
        ,    map = new google.maps.Map($canvas.get(0), {
                center: new google.maps.LatLng($canvas.data('lat'), $canvas.data('lng')),
                zoom: $canvas.data('zoom'),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
    });
</script>
{% endblock extrahead %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <div id="map_canvas" data-lat="{{ map.lat }}" data-lng="{{ map.lng }}" data-zoom="{{ map.zoom }}"></div>
    </div>
    <div class="span2">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" />
        </form>
    </div>
  </div>
</div>
{% endblock content %}
